<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- overwriting these args -->
    <arg name="debug" default="false" />
    <arg name="gui" default="true" />
    <arg name="pause" default="false" />
    <arg name="world" default="$(find track_model)/worlds/hard_track.world"/>

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find track_model)/models/xacro/deepracer/deepracer.urdf'" />
    <node name="racecar_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model racecar -x 3 -y 0.6 -z 0.5" />

    <rosparam file="$(find track_model)/config/agent_control.yaml" command="load" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/racecar" args="joint_state_controller left_rear_wheel_velocity_controller right_rear_wheel_velocity_controller left_front_wheel_velocity_controller right_front_wheel_velocity_controller left_steering_hinge_position_controller right_steering_hinge_position_controller" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world)" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg pause)" />
        <arg name="use_sim_time" value="true" />
    </include>

</launch>