<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- overwriting these args -->
    <arg name="debug" default="false" />
    <arg name="gui" default="true" />
    <arg name="pause" default="false" />
    <arg name="world" default="$(find track_model)/world/hard_track.world" />

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find track_model)/urdf/racecar.urdf'" />
    <node name="my_robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model racecar -x 3 -y 0.6 -z 0.5" />
    <!-- loads the controllers -->
    <rosparam file="$(find track_model)/config/racecar_config.yaml" command="load" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/racecar" args="joint_state_controller left_direction_controller right_direction_controller right_rear_controller left_rear_controller" />
    <!-- converts joint states to TF transforms -->
    <!-- incluse gazebo_ros launcher -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world)" />
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg pause)" />
        <arg name="use_sim_time" value="true" />
    </include>

</launch>